*, ::before, ::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Roboto, Arial, sans-serif;
}

body {
    background-color: black;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: auto;
    width: 40%;
    border: solid .2rem blue;
    max-height: 98dvh;
}

input, img, button, h1 {
    margin-top: 1rem;
}

img{
    width: 10rem;
    max-height: 0rem;
    transition: all 1s ease-in-out;
}

.QRimg{
    height: auto;
    max-height: 15rem;
}

input{
    width: 80%;
    border: solid .2rem black;
    outline: none;
    appearance: none;
    height: 3rem;
    text-indent: 1rem;

    &::placeholder{
        text-indent: 1rem;
    }
}

button{
    width: 15rem;
    height: 2.5rem;
    border: none;
    outline: none;
    appearance: none;
    background-color: rgb(0, 132, 255);
    border-radius: 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    /* transition: color .3s linear; */

    &:active{
        background-color: blue;
    }
}

h1{
    background: linear-gradient(90deg, rgb(81, 81, 119), grey, grey, grey, rgb(81, 81, 119));
    width: 100%;
    text-align: center;
    padding: .5rem 0;
}

.error{
    animation: shake .1s linear 10;
}

@keyframes shake {
    0%{
        transform: translateX(0rem);
    }
    25%{
        transform: translateX(.5rem);
    }
    75%{
        transform: translateX(0rem);
    }
    100%{
        transform: translateX(-.5rem);
    }
}

.enterVal{
    animation: col 2s linear infinite;
}

@keyframes col {
    0%{
        border-color: red;
        border-width: .3rem;    
    }
    25%{
        border-color: red;
        border-width: .3rem;
    }
    100%{
        border-color: black;
    }
}

@media (max-width: 1000px){
    div{
        width: 80%;
    }
}

@media (width: 280px){
    div{
        width: 90%;
    }
}

@media (max-height: 380px){
    .img{
        max-height: 5rem;
    }
}
